html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div #network-diagram, .file-drop, .flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.file-drop {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: min(75px, 30vh);
  border: dashed 5px #DDD;
  color: #888;
}
.file-drop.drag-over {
  background-color: #DDD;
  color: #FFF;
}

div#data-input {
  margin: 10px;
  width: min(300px, 100vw);
}
div#data-input input {
  border: solid 1px #888;
  width: calc(100% - 50px - 12px);
}
div#data-input input:focus {
  outline: solid 1px #555;
}
div#data-input button {
  border: solid 1px #888;
  width: 50px;
  border-radius: 3px;
}
div#data-input button:focus {
  outline: solid 1px #555;
}
div#data-input * {
  margin: 0 0 5px 0;
}

div #network-diagram {
  flex-direction: column;
  justify-content: center;
  width: min(100%, 800px);
  height: min(100%, 500px);
  border: solid 1px #888;
  color: #888;
}